.container header {
    background-color: #0B1E5A;
}
.container header nav {
    background-color: #0B1E5A;
}
.container #hero {
    background-image: url(images/%E5%B0%81%E9%9D%A22.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(70,130,180,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(70,130,180,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(70,130,180,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(70,130,180,1.00) 100%);
}
.container .banner {
    background-image: url(images/%E5%B0%81%E9%9D%A22.jpg);
}
.container .copyright {
    background-color: #0B1E5A;
}
.container #contact {
    background-image: url(images/%E5%B0%81%E9%9D%A22.jpg);
}
